<!DOCTYPE html>
<html>
<head>
    <title>Agendamento confirmado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='confirmacao.css') }}">
</head>
<body>
    <div class="container">
        <h1>✔ Agendamento realizado</h1>

        <p>Seu horário foi reservado com sucesso.</p>

        <p class="info-pagamento">
            Pagamento será feito presencialmente na barbearia.
        </p>

        <a href="/">
            <button>Voltar ao início</button>
        </a>
    </div>
</body>
</html>