<!DOCTYPE html>
<html>
<head>
    <title>Informações</title>
    <link rel="stylesheet" href="../static/informacoes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
    <h1>Informações</h1>
    <div class="informacoes">
        <div class="esquerda">
        <hr>
            <div class="horarios">
                <h2>Horario de atendimento</h2>
                <p>Seg	07:30h às 11:30h | 13:30h às 20:00h</p>
                <p>Ter	07:30h às 11:30h | 13:30h às 20:00h</p>
                <p>Qua	07:30h às 11:30h | 13:30h às 20:00h</p>
                <p>Qui	07:30h às 11:30h | 13:30h às 20:00h</p>
                <p>Sex	07:30h às 11:30h | 13:30h às 20:00h</p>
                <p>Sáb	08:00h às 11:30h | 13:00h às 18:00h</p>
                <p>Dom	Fechado</p>
            </div>
            <div class="contato">
                <h2>Contato</h2>
                <p>Email: contato@exemplo.com</p>
                <p>Telefone: (11) 1234-5678</p>
            </div>
        </div>
        <div class="mapa">
            <iframe 
                class="mapa"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3514.1759540813996!2d-52.4090461889223!3d-28.26268105085693!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94e2bf7f1c84115b%3A0x7575b907a376f14a!2sPra%C3%A7a%20Mal.%20Floriano%20-%20Centro%2C%20Passo%20Fundo%20-%20RS%2C%2099010-000!5e0!3m2!1spt-BR!2sbr!4v1781116065220!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>
    <hr>
    <hr>
    <hr>
    <div class="serv">
        <h2>Serviços</h2>
        <div class="servico">
    <span>Corte de cabelo degradê</span>
    <span>R$ 40</span>
</div>

<div class="servico">
    <span>Corte de barba completo</span>
    <span>R$ 30</span>
</div>

        <div class="servico">
            <span>Sobrancelha</span>
            <span>R$ 15</span>
        </div>
        <div class="servico">
            <span>Cabelo + Barba</span>
            <span>R$ 65</span>
        </div>
        <div class="servico">
            <span>Cabelo + Sobrancelha</span>
            <span>R$ 55</span>
        </div>
        <div class="servico">
            <span>Barba + Sobrancelha</span>
            <span>R$ 45</span>
        </div>
        <div class="servico">
            <span>Cabelo + Barba + Sobrancelha</span>
            <span>R$ 80</span>
        </div>
    </div>
    <div class="baixo">

        <div class="profissionais">
            <h2>Profissionais</h2>

            <p>João</p>
            <p>Pedro</p>
            <p>Bernardo</p>
            <p>Pablo</p>
        </div>

        <div class="pagamentos">
            <h2>Formas de pagamento</h2>

            <p>Pix</p>
            <p>Dinheiro</p>
            <p>Cartão de Crédito</p>
            <p>Cartão de Débito</p>
        </div>

    </div>
</body>
</html>