<!DOCTYPE html>
<html>
<head>
<title>Barbearia Titan</title>
<link rel="stylesheet" href="../static/barbearia.css">
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <div class="container">

        <h1>BARBEARIA TITAN</h1>

        <a href="/agendamento">
            <button>
                <span class="icone">📅</span>
                <span>Agendar horário</span>
            </button>
        </a>

        <a href="/vip">
            <button>
                <span class="icone">👑</span>
                <span>Clube VIP</span>
            </button>
        </a>

        <a href="https://wa.me/5554999999999" target="_blank">
            <button>
                <i class="fa-brands fa-whatsapp"></i>
                <span>Whatsapp</span>
            </button>
        </a>

        <a href="https://instagram.com/barbeariatitan" target="_blank">
            <button>
                <i class="fa-brands fa-instagram"></i>
                <span>Instagram</span>
            </button>
        </a>

        <a href="/informacoes">
            <button>
                <i class="fa-solid fa-circle-info"></i>
                <span>Informações</span>
            </button>
        </a>

        <a href="/minhaconta-redirect">
            <button class="conta">
                <i class="fa-solid fa-user"></i>
                <span>Minha conta</span>
            </button>
        </a>
    </div>
</body>
</html>
</html>